.h1{
  text-align: center;
  color: black;
  padding:3%;
}

.container {
  display: flex;
  justify-content: space-between;

}


.column {
  flex: 1;
  padding: 10px;
}

ul {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

 .music-note {
            font-size: 36px;
            color: #ff3366;
        }

.colorful-line {
            height: 5px;
            background: linear-gradient(to right, #ff3366, #ff9933, #ffff66, #66ff66, #3366ff, #9933ff);
            margin: 10px 0;
        }

