.slider {
  width: 150px;
  height: 10px;
  appearance: none;
  border-radius: 5px;
  border-color: #828c84;
  border-width: 5px;
}


.slider::-webkit-slider-runnable-track {
  background: linear-gradient(to right, green, green) no-repeat center;
  background-size: var (0, --thumb-position)% 100%;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #2537bb;
  border-radius: 100%;
  cursor: pointer;

}

.split-paragraph {
  columns: 1;
  text-align: center;
  max-width: 800px; 
  word-wrap: break-word;
}

